@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	transition: all 0.3s ease;
}

header>svg{
	 width:  min(calc(4rem + 10vw), 10rem);
}


@media screen and (min-width:  540px){
	#main{
		padding-inline: calc(5rem + 5vw);
	}
}

@media screen and (min-width:  640px){
	#editpopup{
		width: calc(25rem + 10vw);
		@apply text-2xl;
	}
}

@media screen and (min-width:  1536px){
	#main, #header{
		padding-inline: calc(5rem + 10vw);
	}

	#editpopup{
		width: calc(30rem + 10vw);
		@apply text-4xl;
	}
}

@keyframes goOut{
	0%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
}

.done-todos{
	@apply w-full bg-gray-300 flex justify-evenly items-center rounded-md px-5 py-4 dark:bg-gray-700 relative left-0 mb-10 line-through lg:px-10 xl:py-7 xl:mb-20;
}

.undone-todos{
	@apply w-full bg-very-light-green flex justify-evenly items-center rounded-md px-5 py-4 dark:bg-dark-lighter-blueish mb-10 lg:px-10 xl:py-7 xl:mb-20;
}

.undone-todos>div{
	@apply flex items-center w-16 justify-between lg:w-2/12 xl:w-1/12;
}

.todos-text{
	@apply px-5 truncate w-4/5 text-xl cursor-pointer lg:text-2xl xl:text-3xl;
}

.done-todos>div{
	@apply flex items-center m-auto justify-between;
}

.pencil-icon{
	@apply text-2xl cursor-pointer lg:text-3xl;
}

.delete{
	@apply text-2xl cursor-pointer lg:text-3xl;
}

.done-todos .pencil-icon{
	@apply hidden;
}

.undone-todos .pencil-icon{
	@apply block;
}

.undone-todos:last-child, .undone-todos:last-child{
	margin-bottom: 0;
}

ion-icon{
	@apply lg:text-3xl 2xl:text-5xl !important;
}

.check-box{
	width: calc(1rem + 0.5vw);
	height: calc(1rem + 0.5vw);
}

#done-editing-btn{
	@apply text-5xl !important;
}

.todos-list-headers{
	@apply text-xl pb-6 pl-4 dark:text-white xl:text-2xl 2xl:text-3xl;
}